  @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", serif;
  /* background-color: #f5f5f5; */
}
/* Menu Bar Styles Starts Here */
.menu-bar {
  height: 100px;
  width: 1280px;
  margin: 0 auto;
  padding: 24px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 20px; */
  background-color: #f5f5f5;
}
.logo h1 {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
.logo a{
  text-decoration: none;
}
.sign-in-btn {
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  padding: 15px 30px;
  border: 2px solid #006a50;
  border-radius: 8px;
}
/* Menu Bar Styles Ends Here */

/* Banner Area Styles Starts Here */
main {
  background: transparent;
}
.banner-area {
  height: 560px;
  width: 1280px;
  margin: 0 auto;
  padding: 80px 50px;
  background-color: #c6e4d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content .slogan {
  font-size: 18px;
  font-weight: 500;
  color: #6a7972;
  margin-bottom: 16px;
}
.banner-content .title {
  font-size: 24px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 24px;
}
.primary-btn {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #006a50;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
}
.banner-img img {
  max-width: 100%;
  height: auto;
}
/* Banner Area Styles Ends Here */

/* Vision Area Styles Starts Here */
.vision-area {
  height: 420px;
  width: 1280px;
  margin: 0 auto;
  padding: 60px 50px;
  background-color: #f5f5f5;
}
.vision-content h1 {
  font-size: 30px;
  font-weight: 700;
  color: #0e0e0e;
}
.vision-content p {
  font-size: 16px;
  font-weight: 400;
  color: #535353;
  padding: 24px 0 32px 0;
}
.vision-target {
  display: flex;
  gap: 24px;
}
.vision-target img {
  margin-bottom: 24px;
}
.vision-target h3 {
  color: #36383c;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.vision-target p {
  color: #4a4d53;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  height: 60px;
}
.vision-target button {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
.target1 button {
  background-color: #5490f5;
}
.target2 button {
  background-color: #ffc239;
}
.target3 button {
  background-color: #09a15c;
}
.target1,
.target2,
.target3 {
  border-radius: 16px;
  padding: 32px;
}
.target1 {
  background-color: #c6e4d6;
}
.target2 {
  background-color: #f7ebcf;
}
.target3 {
  background-color: #c6e4d6;
}
/* Vision Area Styles Ends Here */
/* Quotation Area Styles Starts Here */
.quotation-area{
  width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
  background-color: #F5F5F5;
}
.quotation-content{
  padding: 48px 24px;
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 16PX;
}
.quote p{
  background-image: url(images/quote-bg.png);
  background-repeat: no-repeat;
  line-height: 1.7;
  
}
.quote p, .author p{
  font-size: 16px;
  font-weight: 400;
  color: #3E3E3E;
}
.author h3{
  font-size: 20px;
  font-weight: 600;
  color: #3E3E3E;
  padding: 12px 0 4px 0;
}
/* Quotation Area Styles Ends Here */

/* News Area Styles Starts Here */
.news-area{
  height: 1420px;
  width: 1280px;
  margin: 0 auto;
  padding: 30px 50px;
  background-color: #f5f5f5;
}
.news-title h1{
  font-size: 40px;
  font-weight: 700;
  color: #oeoeoe;
  margin-bottom: 24px;
}
.news-title p{
  font-size: 16px;
  font-weight: 400;
  color: #545454;
  margin-bottom: 32px;
}
.post-img img{
  height: 306px;
  width: 408px;
  border-radius: 24px;
  margin-right: 32px;

}
.blog-post1, .blog-post2, .blog-post3{
  padding: 48px;
  display: flex;
  height: 306px;
  width: 1184px;
  background-color: #FFFFFF;
  margin-bottom: 24px;
  border-radius: 24px;
}

.post-content h3{
  font-size: 32px;
  font-weight: 700;
  color: #3E3E3E;
  padding-top: 5px;
  padding-bottom: 12px;
}
.post-content img{
  height: 40px;
  width: 134px;
}
.post-content p{
  font-size: 16px;
  font-weight: 400;
  color: #575757;
  padding-top: 18px;
}
.post-content button{
  margin-top: 32px;
}
/* News Area Styles Ends Here */
/* Donate Area Styles Starts Here */
.donate-area{
  height: 464px;
  width: 1280px;
  text-align: center;
  margin: 0 auto;
  padding: 0 50px;
  background-color: #f5f5f5;
}
.donate-title h3{
  font-size: 40px;
  font-weight: 700;
  color: #oeoeoe;
  margin-bottom: 24px;
}
.donate-subtitle p{
  font-size: 16px;
  font-weight: 400;
  color: #575757;
}
.donate-btn{
  display: flex;
  justify-content: space-around;
}
.donate-btn button{
  font-size: 40px;
  font-weight: 700;
  color: #3E3E3E;
  padding: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 16px;
  background-color: #FFFFFF;
  margin: 32px 0;
}
button.selected-btn {
  background: #C6E4D6;
}

.donate-other input{
  height: 64px;
  width: 1132px;
  text-align: center;
  color: #b7b7b7;
  font-size: 20px;
  font-weight: 400;
  border: none;
  margin-bottom: 32px;
}
input[type="text"] {
  background-color: #FFFFFF;
}

/* Donate Area Styles Ends Here */
/* Subscribe Area Styles Starts Here */
.subscribe-area{
  width: 1280px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 50px;
  background-color: #f5f5f5;
}
.subscribe-content{
  /* height: 400px; */
  /* width: 1184px; */
  margin: 0 auto;
  padding: 80px 100px;
  background-color: #C6E4D6;
}
.subscribe-title h3{
  font-size: 40px;
  font-weight: 700;
  color: #oeoeoe;
  margin-bottom: 16px;
}
.subscribe-subtitle p, .subscribe-promise p{
  font-size: 16px;
  font-weight: 400;
  color: #575757;
}
.email-beside-subscribe{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 24px 0;
}
.subscribe-email input{
  height: 55px;
  width: 560px;
  padding-left: 40px;
  color: #B7B7B7;
  background-color: #FFFFFF;
  border: none;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px 0 0 8px;
}
.subscribe-btn input{
  height: 55px;
  width: 150px;
  color: #ffffff;
  background-color: #00644B;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}
/* Subscribe Area Styles Ends Here */
/* Footer Area Styles Starts Here */

.footer-area{
  width: 1280px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 50px;
  background-color: #fff;
}
.footer-area hr{
  margin: 32px 0;
}
.footer-text h1{
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
.footer-text a{
  text-decoration: none;
}
.footer-icon img{
  padding: 0 10px;
}
/* Footer Area Styles Ends Here */

/* All Hover Styles Starts Here */
.sign-in-btn:hover {
  color: #f5f5f5;
  background-color: #006a50;
}
.primary-btn:hover{
  color: #006a50;
  background-color: #ffffff;
  border: 1px solid #006a50;
}
.target1 button:hover {
  color: #5490f5;
  background-color: #fff;
  border: 1px solid #5490f5;
}
.target2 button:hover {
  color: #ffc239;
  background-color: #fff;
  border: 1px solid #ffc239;
}
.target3 button:hover {
  color: #09a15c;
  background-color: #fff;
  border: 1px solid #09a15c;
}
.subscribe-btn input:hover{
  color: #00644B;
  background-color: #ffffff;
}
.donate-btn button:hover{
  background: #C6E4D6;
}
/* All Hover Styles Ends Here */

